server {
    root /home/jrey-roj/juanma/webserv/sources/;
    index iiiii.hmtl;
        client_max_body_size 123;
    location /api {
        root /home/jrey-roj/juanma/webserv/sources/;
        autoindex on;
    }
    location /html/ {
        
        index index.html;
    autoindex on;
    }
    location /cgi-bin/ {
        cgi_path  /usr/bin/php-cgi;
    }
}
