server {
	#fdafdsaf
	     #fdsafdsfadsfsad
	listen 127.0.0.1:8080;

    root 	/home/jrey-roj/juanma/webserv/servDir/var/www/html/
	
	;
	error_page 404 500 /error.html;
	location /images/ {
        root /home/jrey-roj/juanma/webserv/servDir/var/www/;
        autoindex on;
    }
}

server
{
	server_name localhost;
	root 	/home/jrey-roj/juanma/webserv/servDir/var/www/html/
	
	;
	listen 127.0.0.1:8080;
}
