server {
	listen 8080;
	server_name localhost;

	root ./servDir/;
	index index.html;

	error_page 400 404 /error_pages/404.html;
	error_page 500 /error_pages/500.html;

	location / {
		allowed_methods GET POST DELETE;
		root ./servDir/var/www/html;
		index index.html;
		cgi_extension .py;
		cgi_path ./servDir/var/www/cgi-bin/;
		upload_enable on;
		upload_store ./servDir/upload/;
	}

	location /cgi-bin/ {
		allowed_methods GET POST;
		root ./servDir/var/www/cgi-bin/;
		cgi_extension .py;
		cgi_path ./servDir/var/www/cgi-bin/;
	}

	location /upload/ {
		allowed_methods GET POST DELETE;
		root ./servDir/upload/;
		upload_enable on;
		upload_store ./servDir/upload/;
		autoindex on;
	}

	location /autoindex/ {
		allowed_methods GET;
		root ./servDir/var/www/html;
		autoindex on;
	}
}
