server {
    listen 8080;
    server_name localhost;

    root /home/maximo/Development/42/webserv/servDir/var/www/html;
    index index.html;

    error_page 404 /error_pages/404.html;
    error_page 500 /error_pages/500.html;

    location / {
        allowed_methods GET POST DELETE;
        root /home/maximo/Development/42/webserv/servDir/var/www/html;
        index index.html;
        autoindex on;
    }

    location /cgi-bin/ {
        allowed_methods GET POST;
        root /home/maximo/Development/42/webserv/servDir/var/www;
        cgi_extension .py;
        cgi_path /home/maximo/Development/42/webserv/servDir/var/www/cgi-bin/;
    }

    location /upload/ {
        allowed_methods POST DELETE GET;
        root /home/maximo/Development/42/webserv/servDir/upload;
        upload_enable on;
        upload_store /home/maximo/Development/42/webserv/servDir/upload;
    }
}
