server {
    listen 80;

    root /home/jrey-roj/juanma/webserv/servDir/;
    index index.html1;

	location /servDir/{
		root /home/jrey-roj/juanma/webserv/servDir/var/www/html;
		allowed_methods GET POST;
		autoindex on;
	}
	location = /var/www/html1.html {
		allowed_methods POST GET;
	}
	location /upload/ {
		upload_enable on;
		root /home/jrey-roj/juanma/webserv/servDir/upload;
		allowed_methods POST;

	}

	location /var/www/harder/ {
		root /home/jrey-roj/juanma/webserv/servDir/var/www/;
		return 200 /var/www/cgi-bin;
	}
}

server {
    listen 80;
    server_name localhost;

    root /home/jrey-roj/juanma/webserv/sources/;
    index index.htmld;

	location / {
		root /home/jrey-roj/juanma/webserv/;
		allowed_methods POST GET;
	}
	location /tests {
		allowed_methods GET;
		root /home/../home/jrey-roj/../jrey-roj/juanma/webserv/tests;
		autoindex	on;
	}
}