server {
	listen 8081;

	root /home/jrey-roj/juanma/webserv/servDir/ ;
	index index.html;

	error_page 400 404 /error_pages/404.html;
	error_page 500 /error_pages/500.html;
	

	location / {
		allowed_methods GET POST DELETE;
		root /home/jrey-roj/juanma/webserv/servDir/var/www/html;
		cgi_extension .py;

		upload_enable on;
		cgi_path /home/jrey-roj/juanma/webserv/servDir/var/www/cgi-bin/;
	}

	location /youtub/ {
		return 301 https://www.youtube.com/watch?v=V6ArZlHzZ6w&t=224s&ab_channel=Toukoum;
	}

	location /main/ {
		allowed_methods GET POST;
		root /home/jrey-roj/juanma/webserv/servDir/var/www/html;
		index html1.html ;
		cgi_extension .py;
		cgi_path /home/jrey-roj/juanma/webserv/servDir/var/www/cgi-bin/;
	}

	location /index/ {
		root /home/jrey-roj/juanma/webserv/servDir/var/www/html;
		index index.html;
	}

	location /juanma/ {
		root /home/jrey-roj/juanma/webserv/servDir/var/www/html;
		index juanma.html;
	}

	location /list/ {
		autoindex on;
		root /home/jrey-roj/juanma/webserv/servDir/var/www/html;
		index index2.html;
	}

	location /cgi/ {
		allowed_methods GET POST DELETE;
		root /home/jrey-roj/juanma/webserv/servDir/var/www/;
		cgi_extension .py;
		cgi_path /home/jrey-roj/juanma/webserv/servDir/var/www/cgi-bin/;
	}

	location /upload/ {
		allowed_methods POST DELETE;
		root /home/jrey-roj/juanma/webserv/servDir/;
		upload_enable on;
		#upload_store /home/jrey-roj/juanma/webserv/servDir/upload/;
	}

}

server {
	listen 8081;

	root /home/jrey-roj/juanma/webserv/servDir/var/www/html;
	index html1.html;
	server_name mysitelocal;

	error_page 400 404 /error_pages/404.html;
	error_page 500 /error_pages/500.html;
}
